table{
    border:1px solid black;
    border-collapse:collapse;
}

table th,table th td{
    background-color:lightgreen;
    color:white;
    border:1px solid black;
    border-collapse:collapse;
    text-align:center;
}
table tr td{
    border:1px solid black;
    border-collapse:collapse;
}

.header{
    width:100%;
    padding:15px;
    background: linear-gradient(to right, red , white);
}

footer{
    font-size: 12px;
    color: white;
    position:absolute;
    flex: 0 0 auto;
    bottom:0px;
    width:100%;
    padding: 2px;
    text-align:center;
    background-color: red;
}

.dropdown {
    position: relative;
    display: inline-block;
    width:100px;
}

.dropdown-content {
    display: none;
    position: absolute;
    background-color: green;
    color:white;
    width:120px;
    border-radius:10px;
    padding-left:20px;
    padding-right:20px;
}

.dropdown:hover .dropdown-content {
    display: block;
}

span{
    color:white;
    background-color:green;
    padding-left:10px;
    padding-right:10px;
    border-radius:20px;

}

.narrow_link{
    padding:5px 5px 5px 5px;
    border-radius:20px;
    background-color:green;
    color:white;
}

.narrow_link:hover{background-color:orange;color:red;}