table{
    border:1px solid black;
    border-collapse:collapse;
}

table th,table th td{
    background-color:lightgreen;
    color:white;
    border:1px solid black;
    border-collapse:collapse;
    text-align:center;
}
table tr td{
    border:1px solid black;
    border-collapse:collapse;
}

.header{
    width:100%;
    padding:15px;
    background: linear-gradient(to right, red , white);
}

footer{
    font-size: 12px;
    color: white;
    position:absolute;
    flex: 0 0 auto;
    bottom:0px;
    width:100%;
    padding: 2px;
    text-align:center;
    background-color: red;
}
