<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Release Site</title>
    <link rel="stylesheet" type="text/css" href="..\static\style.css">
    <link rel="stylesheet" href="..\static\foundation.css">
    <script src="..\static\jquery.min.js"></script>
    <script src="..\static\custom.js"></script>
</head>
<body>
<header class="header"><h1 style="color:white;">Welcome To ABSuite Release Site</h1></header>
<nav class="top-bar" data-topbar>
    <section class="top-bar-section">
        <ul class="left">
            <li class="name"><a href="#" id="releaseStatusLink">Release Status</a></li>
            <li class="name"><a href="#" id="branchStatusLink">Branch Status</a></li>
            <li class="name"><a href="#" id="jobSettingLink">Job Setting</a></li>
            <li class="name"><a href="#" id="buildLogLink">Build Log Monitor</a></li>
        </ul>
    </section>
</nav>
<div id="releaseStatus" class="row left">
    <select id="CycleList" class="small-2 columns">
    </select>

</div>

<div id="branchStatus" class="row left" style="margin-left:15px;width:100%;">
    <form id="insertBranch" action="" method="post">

        <div class="small-12 columns">
            <label for="branchName"> New Branch:</label><input type="text" id="BranchName">
        </div>
        <div>
            <input type="submit" value="Add" class="button tiny round" style="margin-top:22px;">
        </div>
    </form>
    <div class="row"  style="margin-left:15px;">
        <label for="">Select Branch</label>
        <select id="branches" class="small-3 columns">
            <option>Mod</option>
            <option>Basic</option>
        </select>
    </div>

        <table id="CycleBranchStatus">
            <tr >
                <th  rowspan="2" >Cycle</th>
                <th  rowspan="2" >Branch</th>
                <th  rowspan="2" >Target Cut</th>
                <th  rowspan="2" >Build Date</th>
                <th colspan="3" style="text-align:center;">Build Time</th>
                <th  rowspan="2"  style="text-align:center;">Status</th>
            </tr>
            <tr>
                <td style="text-align:center;background-color:#99FF33;">India Time</td>
                <td style="text-align:center;background-color:#99FF33;">China Time</td>
                <td style="text-align:center;background-color:#99FF33;">Australia Time</td>
            </tr>
            <tr>
                <td>29</td>
                <td>Team_Mod</td>
                <td>Cut 330</td>
                <td>2018.8.29</td>
                <td>2:30 PM</td>
                <td>2:30 PM</td>
                <td>2:30 PM</td>
                <td>Merge into intermediate</td>
            </tr>

            <tr>
                <td>27</td>
                <td>Team_Mod</td>
                <td>Cut 330</td>
                <td>2018.8.29</td>
                <td>2:30 PM</td>
                <td>2:30 PM</td>
                <td>2:30 PM</td>
                <td>Merge into intermediate</td>
            </tr>

            <tr>
                <td>28</td>
                <td>Team_Mod</td>
                <td>Cut 330</td>
                <td>2018.8.29</td>
                <td>2:30 PM</td>
                <td>2:30 PM</td>
                <td>2:30 PM</td>
                <td>Merge into intermediate</td>
            </tr>

        </table>
</div>

<div id="jobSetting" class="row left">
    <div class="large-12 columns">
        <form id="jobSettingForm">
            <fieldset>
                <legend>Trigger Script Settings</legend>
                <div class="large-3 columns">
                    <label for="machineName">Machine:</label><input type="text" id="machineName" name="machineName"
                                                                    placeholder="Machine Name">
                </div>
                <div class="small-3 columns">
                    <label for="userName">User Name:</label><input type="text" id="userName" name="userName"
                                                                   placeholder="User Name">
                </div>
                <div class="small-3 columns">
                    <label for="userPWD">Password:</label><input type="password" id="userPWD" name="userPWD"
                                                                 placeholder="Password">
                </div>
                <div class="small-3 columns">
                    <label for="scriptPath">Script Path:</label><input type="text" name="scriptPath" id="scriptPath">
                </div>
            </fieldset>
            <input type="submit" value="Submit" class="button tiny" style="border-radius:30px;">

        </form>
    </div>
    <div class="row" style="margin-left:15px;">
        <table>
            <thead>
            <th>Team Branch</th>
            <th>Macihne</th>
            <th>IP Address</th>
            <th>Username</th>
            <th>Password</th>
            <th>Program</th>
            <th>Script Path</th>
            <th>Operation</th>
            </thead>
            <tbody>
            <tr>
                <td>Team_Mod</td>
                <td>Build Machine</td>
                <td>10.263.207.10</td>
                <td>Root</td>
                <td>Tiger</td>
                <td>Cscript</td>
                <td>c:/temp/script/AutoStart.vbs</td>
                <td><a href="#" class="button tiny round">Run now!</a> <a href="#"
                                                                          class="button tiny round">Schedule</a></td>
            </tr>
            </tbody>
        </table>
    </div>
</div>

<div id="buildLog" class="row left">
    <table>
        <thead>
        <tr>
            <th>UT Machine</th>
            <th>IP Address</th>
            <th>Log File</th>
            <th>Size Change History</th>
        </tr>
        </thead>
        <tbody>

        </tbody>
    </table>
</div>


<footer>Copyright &copy; Temp</footer>
</body>
</html>